body{
	width: 40%;
	margin: 0 auto;

}
header{
	width: 100%;
    float: left;
}
h6 {
    font-size: 30px;
    font-family: Helvetica;
    color: #da1a30;
    float: left;
    margin-top: 15px;
    float: left;
    margin-left: 11px;
    margin-bottom: 0;
}
.logo{
	float: left;
	margin-left: 40px;
}

h4{
	width: 100%;
	color: #CCC;
	font-family: helvetica;
	float: left;
}
.personal{
    width:100%;
    margin: 0 auto;
}
 h2{
	color: #333;
    font-size: 20px;
    font-family: Helvetica;
    float: left;
    margin-left: 40px;
}
p{
	float: left;
    font-size: 20px;
    font-family: helvetica;
    width: 100%;
    margin: 0;
    margin-left: 40px;
}
.color-red {
    background-color: #da1a30;
    width: 170px;
    height: 70px;
    float: left;
    margin-right: 10px;
    font-family: helvetica;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    padding-top: 60px;
}
.color-grey {
    background-color: #CCC;
    width: 170px;
    height: 70px;
    float: left;
    margin-right: 10px;
    font-family: helvetica;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    padding-top: 60px;
}
.color-black {
    background-color: #333;
    width: 170px;
    height: 70px;
    float: left;
    font-family: helvetica;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    padding-top: 60px;
}
.name{
	width: 100%;
} 
.firstname {
	float: left;
	width: 40%;
}
.email input{
	width: 100%;
	float: left;
}
input{
	border: 2px solid #da1a30;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-radius: 6px;
	width: 100%;
	font-size: 17px;
	margin-left: 40px;
}

h3{
	float: left;
    font-family: helvetica;
    font-size: 17px;
    color: #CCCCCC;
    margin-left: 40px;
    font-weight: normal;
}
.indicent{
	width: 101.5%;
	float: left;
	height: 52px;
}
.indicent select{
	width: 100%;
	border: 2px solid #da1a30;
	border-radius: 6px;
	height: 43px;
	background-color: transparent;
	margin-right: -6px;
	margin-left: 40px;
}
select{
	color:rgba(51, 51, 51, 0.51);
	font-size: 17px;
}
select option{
	color: rgba(51, 51, 51, 0.51);
    background-color: #fff;
    font-size: 17px;
}

.others{
	width: 100%;
	float: left;
}
.others textarea{
	float: right;
    border: 2px solid #da1a30;
    width: 100%;
    border-radius: 6px;
    height: 100px;
    margin-right: -6px;
}
.others input{
	float: right;
	width: 80%;
	height: 135px;
}
textarea{
	font-size: 17px;
}
.files input {
    border: none;
    float: right;
    width: 32%;
    font-size: 10px;
}
.submit{
    width: 20%;
    float: left;
}
.submit input {
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    color: #da1a30;
    padding: 10px;
}
.submit input:hover{
	background-color: #da1a30;
	border-color: #da1a30;
	color: #FFF;
}

@media only screen and (max-width: 500px) {
	body{
		width: 90%;
	}
    
}


    