.body{
	width: 96%;
    margin: 0 auto;

}
.top {
    font-family: Helvetica;
    width: 80%;
    margin: 0 auto;
}
.cloud {
    float: left;
    width: 65%;
}
.cloud img{
	width:100%;
	float: left;
}

.myself {
    width: 31%;
    float: left;
    top: 15%;
    left: 20%;
    position: absolute;
}
.myself p{
	float: left;
	font-size: 30px;
	color: #6A97C5;
	line-height: 44px;
	margin: 0;
}
.myself h1{
	float: left;
	font-size:55px;
	color:#6A97C5;
	margin: 0;
}
.myself h2{
	float: left;
	font-size:40px;
	color:#6A97C5;
	margin: 0;
}
.chuyi img {
    width: 35%;
    float: right;
    margin-top: 10%;
}
.experience {
    font-family: Helvetica;
    width: 80%;
    margin: 0 auto;
}
.experience h3{
	float: left;
	width: 100%;
	color: #6A97C5;
	font-size: 24px;
	margin:0px;
}
.experience h4{
	float: left;
	width: 170px;
	color: #6A97C5;
	font-size: 18px;
	font-weight: lighter;
	text-align: center;
}
.hust2011{
    width: 3%;
    float: left;
    margin-top: 10px;
}
.hust2011 img {
    width: 30px;
    height: 28px;
    margin-top: 10px;
    margin-left: 5px;
}
.sany2014{
    width: 3%;
    float: left;
    margin-top: 10px;
}
.sany2014 img {
    width: 30px;
    height: 28px;
    margin-top: 10px;
    margin-left: 5px;
}
.philau2016{
    width: 3%;
    float: left;
    margin-top: 10px;
}
.philau2016 img {
    width: 30px;
    height: 28px;
    margin-top: 10px;
    margin-left: 5px;
}
.then img {
    opacity: 0.4;
    width: 30px;
    height: 28px;
    margin-top: 41px;
    margin-left: 5px;
    float: left;
}
.experience h5{
	float: left;
	color: #6A97C5;
	font-size: 20px;
	margin: 0;
	width: 100%;
}
.experience h6{
    float: left;
    color: #6A97C5;
    font-size: 20px;
    margin: 0;
    width: 100%; 
    display: none;}
.dot {
    float: left;
    margin-top: 50px;
}
.dot img{
	margin: 5px;
	float: left;
}
.add{
    float: left;
}
.skills{
    width: 80%;
    margin: 0 auto;
    font-family: Helvetica;
    background-color: #F6FAFE;
}
.skills h3{
	float: left;
	width: 100%;
	color: #6A97C5;
	font-size: 24px;
	margin:0px;
}
.tubiao{
	width: 80%;
    margin: 0 auto;
}
.ai{
	width: 25%;
	float: left;
}
.ps{
	width: 25%;
    float: left;
}
.html{
	width: 25%;
    float: left;
}
.threed{
	width: 25%;
    float: left;
}
.tubiao img {
    width: 27%;
    margin-left: 43%;
}
.skill-icon img {
    width: 26%;
}
.contact {
    font-family: Helvetica;
    float: left;
    color: #6A97C5;
    width: 80%;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-left: 10%;
}
.contact img {
    width: 40px;
    float: left;
    margin-left: 60px;
}
.contact h3{
	font-size: 24px;
	color:#6A97C5;
	font-weight: bold;
	width: 100%;
}
.contact h5 {
    font-size: 24px;
    color: #6A97C5;
    font-weight: lighter;
    float: left;
    font-family: Helvetica;
    margin: 4px;
}
@media(max-width: 900px) {
    .top{
    width: 90%;
    margin: 0 auto;
    }
    .cloud{
        width: 80%;
    }
    .cloud img {
    float: left;
    width: 100%;
}

    .myself{
    	width:43%; 
    }
    .myself p{
        font-size: 26px;
        line-height: 30px;
    }
    .myself h1{
        font-size: 48px;
    }
    .myself h2{
        font-size: 35px;
    }
    
   .chuyi img {
    width: 42%;
    float: right;
    margin-top: -46%;}


    .experience{
    width: 90%;
    color: #6A97C5;
    margin: 0 auto;
    }
    .experience h3 {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
}

    .experience h4{
    	display: none;
    }
    .experience h5{
        font-size: 18px;
    }

    .experience h6 {
    display: block;
    float: left;
    width: 8%;
    margin-top: 46px;
}

    .skills{
    width: 90%;
    color: #6A97C5;
    margin: 0 auto;
    }
     .skills h3 {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
    .tubiao img{
        width: 40px;
    }
    .contact{
    width: 90%;
    margin-left: 5%;
    }
    .contact h3 {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
    .contact h5{
        margin-left: 10%;
        width: 70%;
        margin-top: 27px;
    }
    .contact img{
        width: 40px;
        float: left;
        margin-top: 20px;
        margin-left: 0px;
    }
    
    .email{
        width: 50%;
        float: left;
        margin-left:25%;
    }
    .github{
        width: 50%;
        margin-left:25%;
        float: left;
    }
    .phone{
        width: 50%;
       margin-left:25%;
       float: left;
    }
}
@media(max-width: 600px) {
   .top{
    width: 95%;
    margin: 0 auto;
    }
    .cloud{
        width: 80%;
    }
    .cloud img {
    float: left;
    width: 158%;
    margin-left: -80px;
    margin-top: -72px;
}

    .myself {
    width: 66%;
    margin-top: -60px;
    margin-left: -70px;}

    .myself p{
        font-size: 26px;
        line-height: 30px;
    }
    .myself h1{
        font-size: 48px;
    }
    .myself h2{
        font-size: 35px;
    }
    
   .chuyi img {
    width: 42%;
    float: right;
    margin-top: -46%;}


    .experience{
    width: 95%;
    color: #6A97C5;
    margin: 0 auto;
    }
    .experience h3 {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
}

    .experience h4{
        display: none;
    }
    .experience h5{
        font-size: 18px;
    }
    .add{
        display: none;
    }
    .experience h6 {
    display: block;
    float: left;
    width: 11%;
    margin-top: 46px;
}

    .skills{
    width: 95%;
    color: #6A97C5;
    margin: 0 auto;
    }
     .skills h3 {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
    .tubiao img{
        width: 40px;
    }
    .contact{
    width: 95%;
    margin-left: 5%;
    }
    .contact h3 {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
    .contact h5{
       display: none;
    }
    .contact img{
        width: 40px;
        margin: 0;
        margin-top: 20px;

    }
    
    .email{
        width: 10%;
        float: left;
        margin-left: 16%;
    }
    .github{
        width: 10%;
        float: left;
        margin-left: 16%;
    }
    .phone{
       width: 30%;
        float: left;
        margin-left: 16%;
    }
}	